/*Header Section Starts Here*/
.header-section {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 22px;
  height: 79px;
  // @include transition(.5s all ease);
  padding: 16px 0 0 0;
  @include breakpoint(lg) {
    padding: 8px 0 0 0;
  }


  .container-fluid {
    max-width: 1920px;
    @include breakpoint(lg) {
      padding-left: 44px;
      padding-right: 52px;
    }
    @include breakpoint(xxl) {
      padding-left: 60px;
      padding-right: 72px;
    }
  }

  .header-wrapper {
    @extend %flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;

    .logo {

      // @include transition($transition);
      width: 244px;

      @include breakpoint(max-xxl) {
        width: 170px;
      }

      @include breakpoint(max-lg) {
        width: 230px;
      }

      @include breakpoint(max-md) {
        width: auto;
      }


      a {
        display: block;

        .d-hide {
          display: none
        }

        @include breakpoint(max-md) {
          .d-show {
            display: none;
          }
          .d-hide {
            display: block;
          }
        }


        img {
          @include transition($transition);
          max-width: 100%;
          image-rendering: -moz-crisp-edges;
          image-rendering: -o-crisp-edges;
          image-rendering: -webkit-optimize-contrast;
          image-rendering: optimize-contrast;
          -ms-interpolation-mode: nearest-neighbor;
        }
      }

      @include breakpoint(max-lg) {
        left: 50%;
        top: 0;
        transform: translate(-55%, 0);
        position: absolute;
      }

      @include breakpoint(max-sm) {
        left: 35%;
      }
    }

    .menu {
      
      @include breakpoint(lg) {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-left: auto;

        li {
          position: relative;
          margin-left: 30px;
          line-height: 50px;

          @include breakpoint(max-xxl) {
            margin-left: 15px;
          }

          a {
            font-family: $font2;
            text-transform: uppercase;
            color: $white-color;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.5px;


            &:hover {
              color: $theme-red-color;
            }

            &.active {
              color: $theme-red-color;
            }
          }

          &:last-child {
            margin-left: 30px;
            margin-top: 0px;

            .buy-btn {
              min-width: 125px;
              line-height: 27px;
              margin-left: 10px;
            }
          }

          &:first-child {
            margin-right: 0px;
          }
        }

        @include breakpoint(max-xxl) {
          li {
            a {
              padding: 5px;
              font-size: 12px;
            }

            &:last-child {
              margin-left: 25px;
            }
          }
        }

        @include breakpoint(xxl) {
          li {
            a {
              
            }

            &:last-child {
              margin-left: 80px;
            }
          }
        }

        @include breakpoint(max-lg) {

        }
      }

      @include breakpoint(max-lg) {
        display: block;
        padding: 50px 0 0 10px;
        background: #0A121F;
        top: -22px;
        left:0;
        height: 100vh;
        position: fixed;
        transform: translate3d(-273px, 0, 0) !important;
        max-height: inherit;
        width: 273px;
        transition: 0.2s linear all;
        z-index:999999;

        &.active {
          transform: translate3d(0, 0, 0) !important;
        }

        li {
          padding-left: 20px;
          line-height: 50px;
          border: none;

          a {
            border: none;
          }

          &:last-child {
            margin-left: 0px;
          }

          .header-button {
            display: none;
          }
        }
        // display: none;
        // position: absolute;
        // top: 100%;
        // left: 0;
        // width: 100%;
        // max-height: calc(100vh - 130px);
        // z-index: 9;
        // background-color: transparent;
        // overflow-y: auto;
        // box-shadow: 0 0 20px rgba(0, 0, 0, .08);
        // @include transition($transition);
        // @include transform(scaleY(0));
        // transform-origin: top;
        li {
          width: 100%;
          padding: 0;

          a {
            padding: 5px 10px;
            display: flex;
            align-items: center;
            font-weight: 500;
            text-transform: capitalize;
            justify-content: space-between;
            color: $title-color;

            &:hover {
              background: rgba($color: $dark-color, $alpha: .8);
              color: $white-color;
            }
          }
        }

        &.active {
          @include transform(scaleY(1));
        }
      }
    }

    .buy-btn-mobile {
      display: none;
      position: absolute;
      right: 30px;
      top: 4px;

      @include breakpoint(max-lg) {
        display: block;
      }

      @include breakpoint(max-sm) {
        right: 0;

        min-width: 125px;
      }
    }

    .burger-menu {
      display: none;
      position: absolute;
      left: 30px;
      top: 10px;

      @include breakpoint(max-lg) {
        display: block;
      }

      @include breakpoint(max-sm) {
        left: 0;
      }
    }
  }

  &.active {
    @include breakpoint(lg) {
      // background: rgba(14, 15, 30, 0.7);
      transform: translateY(-102px);

      .header-wrapper {

        .logo {
          width: 201px;

          @include breakpoint(max-xl) {
            width: 120px;
          }
        }
      }

      &.scrollUp {
        transform: translateY(-22px);
      }
    }
  }


}


.menu-responsive-overlay{
  position:fixed;
  top: -22px;
  left: 0;
  width: 100%;
  height: 150vh;
  background: rgba(0,0,0,0.7);
  visibility: hidden;
  opacity:0;
  transition: 0.1s linear all;
  z-index:99999;


  &.active{
    visibility: visible;
    opacity:1;
  }
}

.header-section .menu-responsive {
  position: relative;
  top: 3px;
  @include breakpoint(xxl) {
    top: 4px;
  }
}

.logo-mobile {
  width: 95px;
  height: 46px;
}