.scrollToTop {
  width: 35px;
  height: 35px;
  color: $white-color;
  z-index: 999;
  bottom: 30px;
  right: 30px;
  position: fixed;
  border-radius: 5px;
  // @include transform(translateY(150px));
  opacity: 0;
  transform: scale(0.9);
  background-color:$theme-red-color;
  text-align: center;

  font-family: cursive;
  font-size: 15px;
  font-weight: bold;
  line-height: 34px;

  svg{
    width: 45%;
    height: 38px;

    path{
      fill: #fff;
    }
  }

  &:hover {
    color: $white-color;
  }

  &.active {
    @include transform(translateY(0));
    // animation: bounceInDown 2s;
    // -webkit-animation: bounceInDown 2s;
    // -moz-animation: bounceInDown 2s;
  }

  img {
    width: 100%;
  }
}

.button-1 {
  position: relative;
  font-family: "Poppins", sans-serif !important;
  color: #FFF !important;
  // line-height: 52px;
  font-weight: 700 !important;
  font-size: 14px !important;
  min-width: 125px;
  display: inline-block;
  border: none;
  outline: none;
  background: #E54613;
  background: linear-gradient(90deg, #E64613 0%, #CB0000 107.88%);
  box-shadow: 0px 6px 40px rgba(234, 77, 45, 0.5);
  text-align:center;
  text-transform: none !important;
  padding: 7px 21px 8px;
  top: 2px;


  @include breakpoint(xl) {
    padding: 10px 21px 11px;
  }

  @include breakpoint(xxl) {
    padding: 11px 35px;
    font-size: 16px !important;
    top: -2px;
  }

  // @include transition($transition);
  @include border-radius(40px);

  &:hover {
    color: $white-color;
    opacity:0.8;
  }
}

.button-2 {
  min-width: 195px;
  height: 50px;

  font-family: $font1;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;

  color: $white-color;
  background: transparent;
  border: 2px solid #fff;
  padding: 0 35px;
  line-height: 44px;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3), inset 0px 0px 15px rgba(255, 255, 255, 0.3);

  @include breakpoint(max-sm){
    min-width:154px;
    font-size: 15px;
    height: 45px;
    line-height: 41px;
  }

  img{
    margin-left: 10px;
  }

  @include border-radius(40px);

  // @include transition($transition);

  &:hover{
    // text-shadow: 0px 0px 7px #FFFFFF;
    // box-shadow: 0px 0px 8px #FFFFFF;
  }

  &.no-outline{
    border-color: transparent;
    box-shadow: none !important;
  }
}

.button-3 {
  font-size: 14px;
  width:155px;
  text-align: center;
  color: $white-color;
  padding: 12px 15px;
  background: #FF5C3A;
  border: 2px solid #FF5C3A;
  max-height: 48px;
  line-height: 21px;

  font-family: $font2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 9px;

  @include transition($transition);
  @include border-radius(30px);

  &:hover {
    color: $white-color;
    background: #FF5C3A;
    border: 2px solid #FF5C3A;
    text-shadow: 0px 0px 7px #FFFFFF;
  }

  &.active {
    background: transparent;
    border: 2px solid #FF5C3A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FF5C3A;
    &:hover{
      text-shadow: 0px 0px 7px #FF5C3A;
    }
  }

  &.d-2 {
    background: transparent;
    border: 2px solid #FF5C3A;
    box-shadow: none;
    color: #FF5C3A;

    &:hover{
      text-shadow: 0px 0px 7px #FF5C3A;
      box-shadow: 0px 0px 8px #FF5C3A;
    }
  }
}

.button-group{
  .button-3{
    &:last-child {
      margin-right: 0;
    }
  }
}

.swiper-controls-group{
  margin-top: 70px;

  .swiper-controls{
    margin:0;
    margin-left:auto;
    float:none;
  }

  .swiper-pagination{
    margin-top: 10px;
  }

  @include breakpoint(max-lg){
    .swiper-controls{
      display:none;
    }

    .swiper-pagination{
     margin:0 auto;
    }
  }
}
.swiper-pagination {

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin-right: 10px;

    border: 2px solid #D1DBE3;
    box-sizing: border-box;
    border-radius: 10px;

    cursor: pointer;

    &.swiper-pagination-bullet-active{
      background: #FF5C3A;
      border-color:#FF5C3A;
    }
  }
}

.slider-btn{
  width:40px;
  height:40px;
  text-align: center;
  line-height:40px;
  background-color:#26313A;
  cursor:pointer;

  @include border-radius(50%);
  @include transition($transition);

  svg{
    path{
      fill:$primary-color;
    }
  }
 
  &.active {
    background-color:#FF5B33;

    svg{
      path{
        fill:$white-color;
      }
    }
  }
}

.button-group {
  @extend %flex;
}
