.swiper-container {
  &.logo-slider {
    .swiper-slide {
      svg {
        display: block;
        margin: 58px auto;
      }
    }
  }
}
.swiper-controls {
  float: right;
  margin-top: 70px;

  .slider-btn {
    &:last-child {
      margin-left: 15px;
    }
  }
}
