%pr {
  position: relative;
}

%pa {
  position: absolute;
}

%flex {
  display: flex;
  flex-wrap: wrap;
}

%blending-lighten {
  mix-blend-mode: lighten;
}

%center {
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
  position: absolute;
  content: "";
}

.scrolling-wrapper{
  overflow-x: auto;
  overflow-y: hidden;
}

//Padding Top and Bottom
.padding-top {
  padding-top: 80px;
}

.padding-bottom {
  padding-bottom: 80px;
}

.padding-top-2 {
  padding-top: 40px;
}

.padding-bottom-2 {
  padding-bottom: 40px;
}

@include breakpoint(md) {
  .padding-top {
    padding-top: 100px;
  }
  .padding-bottom {
    padding-bottom: 100px;
  }
  .padding-top-2 {
    padding-top: 50px;
  }
  .padding-bottom-2 {
    padding-bottom: 50px;
  }
  .pb-min-md-0 {
    padding-bottom: 0 !important;
  }
}

@include breakpoint(lg) {
  .padding-top {
    padding-top: 80px;
  }
  .padding-bottom {
    padding-bottom: 80px;
  }
  .padding-top-2 {
    padding-top: 60px;
  }
  .padding-bottom-2 {
    padding-bottom: 60px;
  }
}

/*Section Header*/

.m-5p {
  margin: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-50 {
  padding-bottom: 50px;
}

.cl-white {
  * {
    color: $white-color;

    &::placeholder {
      color: rgba($color: $white-color, $alpha: 0.6);
    }
  }

  color: $white-color;

  p {
    color: rgba($color: $white-color, $alpha: .9);
  }
}

.oh {
  overflow: hidden;
}
.no-transition{
  transition: none !important;
}
.parallax{
  transition: transform 0.1s ease 0s;
}
/*Section-Header Starts Here*/
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.7);
  @include transition($transition);
  visibility: hidden;
  opacity: 0;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.pos-rel {
  @extend %pr;

  .container {
    @extend %pr;
    z-index: 1;
  }
}
.container-lg{
  @extend %pr;
}

@include breakpoint(xl) {
  .container, .container-lg {
    max-width: 1230px;
  }
}

@include breakpoint(max-sm) {
  .container {
    max-width: 90%;
  }
}

.size_auto {
  background-size: auto;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #171b2f;
  overflow: hidden;

  .preloader-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .preloader-icon {
    width: 72px;
    height: 72px;
    display: inline-block;
    padding: 0px;

    span {
      position: absolute;
      display: inline-block;
      width: 72px;
      height: 72px;
      border-radius: 100%;
      background: $theme-red-color;
      -webkit-animation: preloader-fx 1.6s linear infinite;
      animation: preloader-fx 1.6s linear infinite;

      &:last-child {
        animation-delay: -0.8s;
        -webkit-animation-delay: -0.8s;
      }
    }
  }
}
