body{
    &.community-page{

        background-image: none;
        background-color: #0D1028;

        /*&:before{
            background : #0D1028 url('/src/images/Community_Hero_BG.jpg') no-repeat top right;
            content: "";
            width: 100%;
            height: 1122px;
            background-size: contain;
            position: absolute;
            z-index: -1;

            @include breakpoint(xxxl){
                background-size: cover;
            }
        }*/
    }

    .community-section {
        .container{
            @include breakpoint(max-md){
                max-width: 100%
            }
        }
        @extend %pr;
        padding-top: 250px;
        .border-bottom{
            margin-bottom: 100px;
            padding-bottom: 100px;
            border-bottom:1px solid rgba(209, 219, 227, 0.3) !important;
        }


        .mainscreen-cont {
            width: 800px;
            padding-bottom: 103px;

            h1 {
                font-family: Poppins;
                font-style: normal;
                font-weight: 900;
                font-size: 64px;
                color: #FFFFFF;
                padding-bottom: 30px;
                @include breakpoint(max-lg){
                    font-size: 74px;
                }
                @include breakpoint(max-sm){
                    font-size: 48px;
                    line-height: 100%;
                }
            }

            p {
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 19px;
                color: #FFFFFF;
                text-shadow: 0px 7px 40px rgba(0, 0, 0, 0.3);
                padding-bottom: 54px;
                // @include breakpoint(max-lg){
                //     width: 75%;
                //     margin: 0 auto 40px;
                // }
            }
            @include breakpoint(max-md){
                width: calc(100% - 30px);
                margin: 0 auto;
            }
            @include breakpoint(max-sm){
                width: 100%;
                font-size: 18px;
                line-height: 21px;
            }
        }

        .cards {
            padding-bottom: 45px;

            .row{
                margin:0 -24px;
            }
        }

        .community-card {
            // padding: 0 24px;
            @include breakpoint(max-lg){
                padding: 0 7.5px;
            }

            .card-img {
                margin-bottom: 30px;
            }

            .card-heading {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 21px;
                color: #FFFFFF;
            }

            .descrip {
                margin-top: 18px;
                padding: 28px 23px;
                background: #EA271A;
                box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.2);
                border-radius: 5px;

                img {
                    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.5));
                    height:46px;
                }

                p {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 19px;
                    color: #FFFFFF;
                    padding-left: 21px;
                }
            }
        }

        .testimonials {
            padding: 45px 0;
            z-index: 5;
            position: relative;

            .swiper-pagination {
                text-align: center;
                @include breakpoint(md) {
                    text-align: left;
                }

            }

            .swiper-wrapper {
                padding-bottom: 100px;
            }

            // .single-testimonial-border 

            .swiper-slide-active, .swiper-slide-next {
                margin: 0;
                border-right: 1px solid #555555;
                @include breakpoint(max-sm){
                    border: none;
                    padding: 0;
                }
            }
            .swiper-slide-next{
                @include breakpoint(max-md){
                    border: none;
                }
            }

            .single-testimonial {
                padding: 0 40px;
                @include breakpoint(max-lg){
                    padding: 0;
                }
                // border-right: 1px solid #555555;
                .num {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    color: #DADADA;
                    opacity: 0.3;
                    margin: 24px auto;
                }

                .desc {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 21px;
                    color: #DADADA;
                    margin-bottom:30px;
                }

                .name {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 22px;
                    color: #FFFFFF;
                }

                .author {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    color: #9DAFBD;
                }
            }
        }

        .experts {
            margin-top: 135px;

            .expert-heading {
                h2 {
                    width: 50%;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 54px;
                    line-height: 76px;
                    letter-spacing: -1px;
                    color: #FF5C3A;
                    margin-bottom: 20px;
                    @include breakpoint(max-lg){
                        width: 75%;
                    }
                    @include breakpoint(max-md){
                        width: 90%;
                    }
                    @include breakpoint(max-sm){
                        font-size: 32px;
                        line-height: 37px;
                        width: 75%;
                    }
                }

                p {
                    width: 38%;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 26px;
                    letter-spacing: -0.5px;
                    color: #9DAFBD;
                    @include breakpoint(max-lg){
                        width: 75%;
                    }
                    @include breakpoint(max-md){
                        width: 90%;
                    }
                    @include breakpoint(max-sm){
                        font-size: 15px;
                    }
                }
            }

            .expert {
                margin-top: 88px;

                .expert-name {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 22px;
                    color: #FF5C3A;
                    margin: 32px auto 6px;
                }

                .expert-post {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    color: #9DAFBD;
                }
            }

            .join-btn {
                margin-top: 20px;
            }
        }
    }
}
