body {
  
  &.jobs-page {
    background: $body-bg;
    position: relative;

    footer {
      .footer-sky {
        top: -32vh;
        transform: none;
        left: 0;
      }
    }
  }
}

.jobs-section {
  @extend %pr;
  padding-top: 250px;
  z-index: 12;

  .container {
    max-width: 1095px;
  }

  .mainscreen {
    padding-bottom: 0;
  }

  .mainscreen-cont {
    h1 {
      font-family: Poppins;
      font-style: normal;
      font-weight: 900;
      font-size: 64px;
      text-align: center;
      color: #FFFFFF;
    }

    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 19px;
      text-align: center;
      color: #FFFFFF;
      text-shadow: 0px 7px 40px rgba(0, 0, 0, 0.3);
    }
  }

  hr {
    border-color: #35424C;
    margin-top: 65px;
  }

  .jobs {
    p {
      font-family: $font1;
      font-size: 17px;
      text-transform: uppercase;
      color: #FFFFFF;
      opacity: 0.6;
      margin: 40px auto 40px 50px;
    }

    .job-card {
      background-color: #1C252C;
      margin-bottom: 30px;
      @include breakpoint(max-md){
        margin-bottom: 22px;
      }

      .content {
        padding: 40px 30px;
        @include breakpoint(max-md){
          padding: 35px 30px
        }
        
      }
      
      
      .job-card-min {
        @extend %pr;
      }

      h5 {
        font-family: $font1;
        font-weight: 300;
        font-size: 22px;
        color: #FFFFFF;
        height: fit-content;
        margin: auto 0;
        line-height: 22px;
        text-transform: capitalize;
      }

      .seprator {
        width: 60px;
        border-color: #35424c;
        background: #35424c;
        transform: rotate(-90deg);
        margin: auto 0;
        margin-left: 0;
        margin-right: 20px;
      }

      .location {
        &:first-of-type{
          @include breakpoint (max-md){
            display: block;
          }
        }
        @include breakpoint (max-md){
          display: none;
        }
        width: 159px;
        margin-bottom: auto;
        margin-top: auto;
      }

      .card-inner-head, .card-inner-title {
        font-family: $font1;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: -0.5px;
        color: #9DAFBD;
        margin: 0;
        opacity: 1;
        line-height: 20px;
        text-transform: capitalize;
      }

      .card-inner-title {
        font-family: $font1;
        font-weight: normal;
        color: #fff;
        font-size: 18px;
        text-transform: capitalize;
      }

      .ml-auto{
        margin-left:auto;
      }

      .open-detail {
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        color: #FFFFFF;
        position:relative;
        margin: auto;
        svg{
          position: absolute;
          width: 35px;
          height: 50px;
          top: 22px;
        }
        &.active {
          svg {
            transform: rotate(-180deg);
            top: -26px;
          }
        }
        &:hover {
          box-shadow: none;
          text-shadow: none;
        }
        @include breakpoint(max-sm){
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          max-height: 144px;
          height: 100%;
          // opacity: 0;
          border: none;
          color: transparent;
          svg{
            opacity: 1;
            top: 57px;
            right: 11px;
          }
          &.active {
            svg {
              transform: rotate(-180deg);
              top: 8px;
            }
          }
        }
      }

      /*.dropdown-img {
        margin: auto 0 auto 50px;

        svg {
          margin-top: 30px;
        }
      }*/

      .full-card {
        display:none;
        border-top: 1px solid #35424c;

        .full-card-content {
          padding: 50px 20px 50px 30px;
          // @include breakpoint (max-lg){
          //   padding: 50px 10px;
          // }
          // @include breakpoint (max-md){
          //   padding: 50px 20px 50px 50px;
          // }
        }

        .job-title {
          font-family: $font1;
          font-style: normal;
          font-weight: 300;
          font-size: 37px;
          color: #FF5C3A;
          margin-bottom: 55px;
          text-transform: capitalize;
        }

        p {
          margin: auto 0;
        }

        hr {
          margin: 23px auto 23px auto;
        }

        .job-detail {
          border-left: 1px solid #35424c;
          padding-bottom: 68px;

          .description, .exp {
            padding: 30px 80px 0 30px;
          }

          h5 {
            width: 100%;
            font-family: $font1;
            font-weight: normal;
            font-size: 20px;
            line-height: 46px;
            letter-spacing: -0.1px;
            color: #FF5C3A;
            margin-bottom: 10px;
            text-transform: capitalize;
          }

          p {
            font-family: $font1;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
            text-transform: capitalize;
            letter-spacing: -0.5px;

            color: #D1DBE3;
          }

          ul {
            li {
              p {
                padding-left: 20px;

                &::before {
                  display: inline-block;
                  content: "-";
                  width: 1px;
                  font-size: 24px;
                  margin: auto;
                  margin-left: -1rem;
                  margin-right: 17px;
                }
              }
            }
          }
        }
      }
    }

    .load-more-btn{
      font-family: $font1;
      font-weight: 300;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: -0.318182px;
      color: #9DAFBD;
      display: table;
      margin: 80px auto;

      svg{
        margin-right: 15px;
      }
    }
  }
}
